<div class="col-xs-12" ng-init="networkDataInit()">
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">
				Network Data
			</h3>
		</div>
		<div class="box-body">
			<ng-map on-rightclick="getpos($event)" center="[40.8069062,-73.9653714]"></ng-map>
		</div>
		<div class="box-body" ng-hide = "hideDecision">
			<div class="box-header">
				<h3 class="box-title">
					Decision Maker
				</h3>
			</div>
			<div class="box-body">
				<p>Current Device: {{currDev.name}}
				<br>Current UID: {{curru.name}}
				<br>Location: {{Lnglat[0]}},{{Lnglat[1]}}
				</p>
				<div class="input-group-btn" uib-dropdown>
					<button id="oldword" type="button" class="btn btn-info" uib-dropdown-toggle>
					Current Device<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="oldword">
						<li ng-repeat="device in currDevice">
							<a ng-click="updateDevice(device)">{{device.name}}</a>
						</li>
					</ul>
				</div>
				<div class="input-group-btn" uib-dropdown>
					<button id="oldword" type="button" class="btn btn-info" uib-dropdown-toggle>
					Current Application<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="oldword">
						<li ng-repeat="uid in currUid">
							<a ng-click="updateUid(uid)">{{uid.name}}</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<div class="box-body">
			<p>Current Location: {{CurrLoc}}</p>
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input type="text" class="form-control" placeholder="Search Network" ng-model="networkTableSearch">
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							<a href="#" ng-click="networkOrderByField='ssid'; networkReverseSort = !networkReverseSort">
								SSID
							</a>
						</th>
						<th>
							<a href="#" ng-click="networkOrderByField='bandwidth'; networkReverseSort = !networkReverseSort">
								Bandwidth
							</a>
						</th>
						<th>
							<a href="#" ng-click="networkOrderByField='avgss'; networkReverseSort = !networkReverseSort">
								Avgss
							</a>
						</th>
						<th>
							<a href="#" ng-click="networkOrderByField='location'; networkReverseSort = !networkReverseSort">
								Location
							</a>
						</th>
						<th>
							<a href="#" ng-click="networkOrderByField='security'; networkReverseSort = !networkReverseSort">
								Security
							</a>
						</th>
						<th>
							<a href="#" ng-click="networkOrderByField='device_id'; networkReverseSort = !networkReverseSort">Device ID</a>
						</th>
						<th>
							<a href="#" ng-click="networkOrderByField='age'; networkReverseSort = !networkReverseSort">
								Time
							</a>
						</th>
					</tr>
				</thead>
				<tbody ng-repeat="network in networkList | orderBy: networkOrderByField:networkReverseSort | filter:networkTableSearch | limitTo:100">
					<tr>
						<td>{{ network.ssid }}</td>
						<td>{{ network.bandwidth }}</td>
						<td>{{ network.avgss }}</td>
						<td>{{ network.location }}</td>
						<td>{{ network.security }}</td>
						<td>{{ network.device_id }}</td>
						<td>{{ network.time }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>