<form class="form-signin">
	<h2 class="form-signin-heading">Hetnet Sign in</h2>
	<div class="alert alert-danger" role="alert" ng-hide="$parent.failhider">
		<strong>Sorry!</strong> Login Failed
	</div>

	<input type="email" class="form-control" ng-model="$parent.email", placeholder="Email" required=" autofocus">
	<input type="password" ng-model="$parent.password" class="form-control" placeholder="Password" required></input>
	<button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>
</form>

<form class="form-signin">
	<button class="btn btn-lg btn-success btn-block" ng-click="switchRegisterPage()">Register new user</button>
</form>